<div class="accordion" id="accordionPanelsStayOpenExample">
  <p class="text-start">Espacios de trabajo</p>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Espacios de trabajo de Trello
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <ul class="list-group">
          <li class="list-group-item rounded p-0">
            <button type="button" class="btn w-100 text-start"><svg style="height: 1rem;"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512">
                <path fill="#363636"
                  d="M392.3 32H56.1C25.1 32 0 57.1 0 88c-.1 0 0-4 0 336 0 30.9 25.1 56 56 56h336.2c30.8-.2 55.7-25.2 55.7-56V88c.1-30.8-24.8-55.8-55.6-56zM197 371.3c-.2 14.7-12.1 26.6-26.9 26.6H87.4c-14.8 .1-26.9-11.8-27-26.6V117.1c0-14.8 12-26.9 26.9-26.9h82.9c14.8 0 26.9 12 26.9 26.9v254.2zm193.1-112c0 14.8-12 26.9-26.9 26.9h-81c-14.8 0-26.9-12-26.9-26.9V117.2c0-14.8 12-26.9 26.8-26.9h81.1c14.8 0 26.9 12 26.9 26.9v142.1z" />
              </svg> Tableros</button>
          </li>
          <li class="list-group-item rounded p-0">
            <button type="button" class="btn w-100 text-start"><i class="fa-regular fa-heart"></i> Lo más
              destacado</button>
          </li>
          <li class="list-group-item rounded p-0">
            <button type="button" class="btn w-100 text-start"><svg width="24" height="24" role="presentation"
                focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3 5C3 3.89543 3.89543 3 5 3H9C10.1046 3 11 3.89543 11 5V9C11 10.1046 10.1046 11 9 11H5C3.89543 11 3 10.1046 3 9V5ZM5 5H9V9H5V5Z"
                  fill="#363636"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M3 15C3 13.8954 3.89543 13 5 13H9C10.1046 13 11 13.8954 11 15V19C11 20.1046 10.1046 21 9 21H5C3.89543 21 3 20.1046 3 19V15ZM5 15H9V19H5V15Z"
                  fill="#363636"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M15 3C13.8954 3 13 3.89543 13 5V9C13 10.1046 13.8954 11 15 11H19C20.1046 11 21 10.1046 21 9V5C21 3.89543 20.1046 3 19 3H15ZM19 5H15V9H19V5Z"
                  fill="#363636"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13 15C13 13.8954 13.8954 13 15 13H19C20.1046 13 21 13.8954 21 15V19C21 20.1046 20.1046 21 19 21H15C13.8954 21 13 20.1046 13 19V15ZM15 15H19V19H15V15Z"
                  fill="#363636"></path>
              </svg> Vistas</button>
          </li>
          <li class="list-group-item rounded p-0">
            <button type="button" class="btn w-100 text-start"><i class="fa-solid fa-users"></i> Miembros</button>
          </li>
          <li class="list-group-item rounded p-0">
            <button type="button" class="btn w-100 text-start"><i class="fa-solid fa-gear"></i> Configuración</button>
          </li>
        </ul>
      </div>

      <div>
        <p>Consigue tableros ilimitados, todas las vistas que existen, automatizaciones sin fin y mucho más.</p>
      </div>
    </div>
  </div>
</div>